*{
	margin:0;
	padding:0;
}
.demo-wrap{
	width:760px;
	margin:0 auto;
	overflow:hidden;
}
.demo-box{
	position:relative;
	float:left;
	width:760px;
	height:350px;
	margin:20px 0 0 20px;
	background:#eeedef;
}

.shell{
	position:absolute;
	bottom:0;
	left:30px;
	width:380px;
	background:#676668;
	border-radius:50px 50px 0 0;
}
.shell-wrap{
	height:250px;
	margin:75px 15px 0;
	background:#fff;
	overflow:hidden;
}
.shell .topbar{
	height:22px;
	background:#008da1;
}
.shell header{
	position:relative;
	height:78px;
	background:#02bcd5;
	box-shadow:0 5px 10px rgba(0,0,0,.2);
}

.btn-menu{
	position:absolute;
	display:block;
	width:78px;
	height:78px;
}
.shell .btn-menu{
	top:0;
	left:0;
}
.icon-menu{
	position:absolute;
	top:50%;
	left:50%;
	width:20px;
	height:20px;
	margin:-10px 0 0 -10px;
}
.icon-menu b{
	position:absolute;
	left:0;
	width:20px;
	height:2px;
	background:#fff;
}
.icon-menu b:nth-of-type(1){
	top:2px;
	transform:rotate(0) scaleX(1) translate3d(0);
}
.icon-menu b:nth-of-type(2){
	top:9px;
}
.icon-menu b:nth-of-type(3){
	top:16px;
	transform:rotate(0) scaleX(1) translate(0);
}

.icon-menu-on b:nth-of-type(1){
	transform:rotate(45deg) scaleX(.7) translate3d(8px,-2px,0);
}
.icon-menu-on b:nth-of-type(3){
	transform:rotate(-45deg) scaleX(.7) translate3d(8px,2px,0);
}


/*big icon*/
.btn-menu-display{
	bottom:150px;
	right:150px;
}
.btn-menu-display .icon-menu{
	width:50px;
	height:50px;
	margin:-25px 0 0 -25px;
}
.btn-menu-display .icon-menu b{
	background:#03bad9;
	width:50px;
	height:6px;
}
.btn-menu-display .icon-menu b:nth-of-type(1){
	top:3px;
}
.btn-menu-display .icon-menu b:nth-of-type(2){
	top:22px;
}
.btn-menu-display .icon-menu b:nth-of-type(3){
	top:41px;
}
.btn-menu-display .icon-menu-on b:nth-of-type(1){
	transform:rotate(45deg) scaleX(.7) translate3d(23px,-4px,0);
}
.btn-menu-display .icon-menu-on b:nth-of-type(3){
	transform:rotate(-45deg) scaleX(.7) translate3d(23px,4px,0);
}


/*transition*/
.icon-menu-transition,
.icon-menu-transition b{
	transition:.5s ease-out;
}


/*small icon animation*/
.icon-menu-anim{
	animation:rotateIcon 3s .75s ease-out infinite;
}
.icon-menu-anim  b:nth-of-type(1){
	animation:rotateLine1 3s .75s ease-out infinite;
}
.icon-menu-anim  b:nth-of-type(3){
	animation:rotateLine3 3s .75s ease-out infinite;
}
@keyframes rotateIcon{
	0%{
		transform:rotate(0deg);
	}
	20%{
		transform:rotate(180deg);
	}
	50%{
		transform:rotate(180deg);
	}
	70%{
		transform:rotate(360deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
@keyframes rotateLine1{
	0%{
		transform:rotate(0) scaleX(1) translate3d(0,0,0);
	}
	20%{
		transform:rotate(45deg) scaleX(.7) translate3d(8px,-2px,0);
	}
	50%{
		transform:rotate(45deg) scaleX(.7) translate3d(8px,-2px,0);
	}
	70%{
		transform:rotate(0) scaleX(1) translate3d(0,0,0);
	}
	100%{
		transform:rotate(0) scaleX(1) translate3d(0,0,0);
	}
}
@keyframes rotateLine3{
	0%{
		transform:rotate(0) scaleX(1) translate3d(0,0,0);
	}
	20%{
		transform:rotate(-45deg) scaleX(.7) translate3d(8px,2px,0);
	}
	50%{
		transform:rotate(-45deg) scaleX(.7) translate3d(8px,2px,0);
	}
	70%{
		transform:rotate(0) scaleX(1) translate3d(0,0,0);
	}
	100%{
		transform:rotate(0) scaleX(1) translate3d(0,0,0);
	}
}


/*big icon animation*/
.btn-menu-display .icon-menu-anim{
	animation:rotateIconDisplay 3s .75s ease-out infinite;
}
.btn-menu-display .icon-menu-anim  b:nth-of-type(1){
	animation:rotateLine1Display 3s .75s ease-out infinite;
}
.btn-menu-display .icon-menu-anim  b:nth-of-type(3){
	animation:rotateLine3Display 3s .75s ease-out infinite;
}
@keyframes rotateIconDisplay{
	0%{
		transform:rotate(0deg);
	}
	20%{
		transform:rotate(180deg);
	}
	50%{
		transform:rotate(180deg);
	}
	70%{
		transform:rotate(360deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
@keyframes rotateLine1Display{
	0%{
		transform:rotate(0) scaleX(1) translate3d(0,0,0);
	}
	20%{
		transform:rotate(45deg) scaleX(.7) translate3d(23px,-4px,0);
	}
	50%{
		transform:rotate(45deg) scaleX(.7) translate3d(23px,-4px,0);
	}
	70%{
		transform:rotate(0) scaleX(1) translate3d(0,0,0);
	}
	100%{
		transform:rotate(0) scaleX(1) translate3d(0,0,0);
	}
}
@keyframes rotateLine3Display{
	0%{
		transform:rotate(0) scaleX(1) translate3d(0,0,0);
	}
	20%{
		transform:rotate(-45deg) scaleX(.7) translate3d(23px,4px,0);
	}
	50%{
		transform:rotate(-45deg) scaleX(.7) translate3d(23px,4px,0);
	}
	70%{
		transform:rotate(0) scaleX(1) translate3d(0,0,0);
	}
	100%{
		transform:rotate(0) scaleX(1) translate3d(0,0,0);
	}
}


.tap-feedback,
.tap-feedback-d1,
.tap-feedback-d2{
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	height:100%;
	background:rgba(3,186,217,.1);
	margin:-50% 0 0 -50%;
	border-radius:50%;
	opacity:0;
}

.tap-feedback-d1{
	background:rgba(3,91,103,.15);
}
.tap-feedback-d2{
	width:250%;
	height:250%;
	margin:-125% 0 0 -125%;
	background:rgba(3,91,103,.15);
}
.tap-feedback-anim .tap-feedback,
.tap-feedback-anim .tap-feedback-d1,
.tap-feedback-anim .tap-feedback-d2{
	animation:feedback .5s ease-out forwards;
}
@keyframes feedback{
	0%{
		transform:scale(1);
		opacity:1;
	}
	100%{
		transform:scale(6);
		opacity:0;
	}
}

.icon-menu-anim.tap-feedback-anim .tap-feedback,
.icon-menu-anim.tap-feedback-anim .tap-feedback-d1,
.icon-menu-anim.tap-feedback-anim .tap-feedback-d2{
	animation:feedbackAnim 1.5s .75s ease-out forwards infinite;
}
@keyframes feedbackAnim{
	0%{
		transform:scale(1);
		opacity:1;
	}
	40%{
		transform:scale(6);
		opacity:0;
	}
	100%{
		transform:scale(6);
		opacity:0;
	}
}

